
<!-- class-content -->

<body class="bg-light compressed-form class-content">
    <div class="container my-5 p-4 custom-bg border rounded shadow">
        <h3 class="text-center" style="color: #007a5e;">Notes for <%= className %></h3>
 
        <!-- Form to Add a New Note -->
        <form action="/class/<%= classId %>/add-note" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <label for="title" class="form-label">Subject Name:</label>
                    <input type="text" id="title" name="title" class="form-control" required>
                </div>
                <div class="col-sm-4">
                    <label for="subjectCode" class="form-label">Subject Code:</label>
                    <input type="text" id="subjectCode" name="subjectCode" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message:</label>
                <textarea id="message" name="message" rows="4" class="form-control" placeholder="optional"></textarea>
            </div>
            <div class="mb-3">
                <label for="document" class="form-label">Attach Document or Video :</label>
                <input type="file" id="document" name="document" class="form-control" accept=".pdf,.doc,.docx,.jpeg,.jpg,.png,.mp4,.avi,.mov">
            </div>
            <div class="btn-container">
                <button type="submit" class="submit-btn  btn-secondary mt-3 ml-2">Add Note</button>
                <a href="/class/<%= classId %>" class="btn btn-secondary mt-3 ml-2 back">Back to Class</a>
            </div>
          
        </form>

        <h2 class="mt-4">Existing Notes</h2>
        <ul class="list-unstyled">
            
            <% notes.forEach(note => { %>
                <li class="mb-3 p-3 border rounded bg-light">
                    <h3><%= note.title %> (<%= note.subjectCode %>)</h3>
                    <p><%= note.message %></p>
                    <% if (note.document && note.document.data) { %>
                        <div class="document">
                            <a href="/preview/<%= note._id %>" class="text-decoration-none"><%= note.document.contentType %> File</a>
                        </div>
                    <% } %>
                </li>
            <% }); %>
        </ul>
        
        
        
    </div>

</body>
</html>
